<div>
  <%= flash[:notice] %>
</div>

<table>
  <tr>
    <td><p>Title:</p></td>
    <td><%= @book.title %></td>
  </tr>
  <tr>
    <td><p>Body:</p></td>
    <td><%= @book.body %></td>
  </tr>
</table>

<br>
<%= link_to 'Edit',edit_book_path(@book.id) %>|<%= link_to 'Back',books_path %>
